[2018-04-16 19:04] ashwani99 opened #1 "Anchor links broken in README.md"
In https://github.com/UdacityMobileWebScholarship/guess-quote#table-of-contents the following links are broken.
- [Setup for Development](https://github.com/UdacityMobileWebScholarship/guess-quote/blob/master/Setup-for-Development)
- [Technology Stack](https://github.com/UdacityMobileWebScholarship/guess-quote/blob/master/Technology-Stack)
- [Contributing Guidelines](https://github.com/UdacityMobi

[2018-04-16 19:46] #1 closed

[2018-04-17 13:36] VarunDevPro opened #6 "Starter code"
There's a large amount of starter code, what do you think about it. I would like to have very less code, since many members may not know react. I want that this project should enable everyone to contribute, more or less.

## Issue 1:
My idea 💡 is to re-commit the starter code with lesser code.
**If you have took any course before, you may know that instructors start from scratch, then react, then

[2018-04-17 13:39] sounak07 commented on #6
Yes, I agree, starter code should be as less as possible as that would help us understand it way better.

[2018-04-17 15:02] twishasaraiya commented on #6
@VarunDevPro, I completely understand your concern that you want to make it easy for contributors to be able to contribute to the project. Lot of starter code may seem confusing for new contributors atfirst but I think with proper guidelines we can solve that.

**Issue 1**
Since our project code is anyways gonna grow with time I think instead of recommitting the starter code we should instead prov

[2018-04-17 15:18] skyshader commented on #6
So our idea was to have a starter code which is already well defined.

The idea is to explain the flow of the app in the readme and once we do that, trust me it will be very helpful for people to follow along.

Consider the current code base. What contributors are going to contribute about when all the configuration part is done? Follow the path and create feature in the similar flow.

Our main go

[2018-04-18 03:24] twishasaraiya opened #7 "Logo Design Challenge"
We would love to have an amazing logo for our project. As a part of this challenge, you can make a huge contribution to the project by designing the logo.

### How It Works
* You can DM the logo directly to me or any of the co-moderators along with your(or team) slack handle.
* Provide a brief description of the elements you chose and why.
* Once we have received all the logos we will be starting

[2018-04-18 06:46] danivijay opened #8 "Implementing authentication"
Please comment opinions and interest in contribution about implementing authentication with JWT.

[2018-04-18 07:44] sounak07 commented on #8
I would like to contribute jwt anthenticattion if assigned...

[2018-04-18 07:45] sounak07 commented on #8
Can we use mongoose to set up db?

[2018-04-18 08:29] skyshader commented on #8
I think @danivijay is working on the database setup part.

Since you've shown interest towards working on jwt authentication, I'd say go ahead with it :+1:

Just acknowledge with a response if you're taking this up. :)

[2018-04-18 08:51] sounak07 commented on #8
Yes I would take JWT then @skyshader

[2018-04-18 09:02] danivijay commented on #8
Please let us know when will you  complete, so that the task can be assigned to you @sounak07

[2018-04-18 09:09] drenther commented on #8
Will there be OAuth based Social auths or just local password based authentication?

[2018-04-18 09:26] sounak07 commented on #8
I think we should first implement local password based auth then we can extend it to Google, Facebook as alternative auth.

[2018-04-18 09:27] drenther commented on #8
Sounds good. What about the Cookies vs LocalStorage? What is everyone's opinion on that?

[2018-04-18 09:29] skyshader commented on #8
@sounak07 we can also look at only Google/Facebook (any one) in the beginning. @twishasaraiya @danivijay what are your thoughts? Do we want the users to create an account and then login with their username and password. Or do we just want them to get authenticated by maybe login using google or facebook?

[2018-04-18 09:30] skyshader commented on #8
@drenther how is localstorage not a safest option. Any pointers?

[2018-04-18 09:37] drenther commented on #8
Any JWT or info stored in localStorage is vulnerable to XSS. Take a look at this - https://www.rdegges.com/2018/please-stop-using-local-storage/

[2018-04-18 10:04] twishasaraiya commented on #8
I think we should provide Google/Facebook login in the beginning then later on provide username and password login.

[2018-04-18 10:05] SevenSinS02 commented on #8
It's not really hard to implement cookies, especially with a ton of libraries already present.

[2018-04-18 10:09] skyshader commented on #8
@drenther So, XSS happens when you allow the user to input malicious code to your application. We are anyway going to sanitize all the inputs we take from user before using it to interact with database (local or remote). This is similar case as it was with SQL injection. But people didn't throw SQL away instead they adhered to certain practices that takes care of such issues.

If we start searchin

[2018-04-18 10:13] skyshader commented on #8
Alright. For initials we will go with social login. Let's begin with Login with Google as this course is powered by Google :stuck_out_tongue: @sounak07 / @drenther anyone wants to take this up?

[2018-04-18 10:15] sounak07 commented on #8
If we do facebook/google login we need a google account for Creating the Google App, Client ID, and Client Secret.....do consider that.

[2018-04-18 10:25] drenther commented on #8
@skyshader I don't mind going with localStorage. Glad we know what we need to do to use localStorage properly. And about the social login how do we go about with API Keys handling?

[2018-04-18 10:26] skyshader commented on #8
@drenther you have any thoughts on this?

[2018-04-18 10:26] sounak07 commented on #8
I think using a common key is better and we can always hide it using environment variables created from the terminal.

[2018-04-18 10:28] drenther commented on #8
@sounak07 But if we have a common key, how do suggest we share it along? Because as you said yourself we won't commit the .env file

[2018-04-18 10:31] skyshader commented on #8
@sounak07 and @drenther we can see if we can generate a basic key that would have limited access available. If that is possible, we will share a .env.example file which will contain that basic api key with limited access.

For proper access we suggest you generate your own api key and we will generate a key that we use for the production environment.

[2018-04-18 10:31] sounak07 commented on #8
The moderators can choose whomever they want to give access to the key and DM them to share the key i guess.......but that's my opinion, I would like to hear what all of you guys think about this

[2018-04-18 10:32] drenther commented on #8
Both have their pros and cons (as with everything I guess). Whatever the moderators choose I guess.

[2018-04-18 10:42] SevenSinS02 commented on #8
@skyshader The whole point of using cookies to store JWT is to prevent the token from being accessed by any scripts. With local storage, it's way easier to steal tokens. Also, web storage doesn't really adhere to any secure standard for transportation of tokens. With cookies having set `secure: true`  we make sure that the cookies are always sent over HTTPS.
If you're worried about CSRF attacks, y

[2018-04-18 10:45] drenther commented on #8
@SevenSinS02 Exactly the point. But, localStorage for the case here I guess. As it will be way simpler than the "Double Submit Cookie" implementation.

[2018-04-18 11:01] skyshader commented on #8
@SevenSinS02 I do understand your's and @drenther 's point. And yeah it's not top priority to get the most secure app right now. But we will try to manage the 2 main things that could result in XSS: user's input and any such libraries that might access localstorage. Am I missing anything here?

[2018-04-18 11:25] SevenSinS02 commented on #8
@drenther I totally understand.
@sounak07 Since it's only a social authentication, it would remain same throughout any app (at least on the front end).  There would be a difference only in the way the authentication is handled in the backend; which raises a question as to where the authentication is being handled - on the client side or the server side?
Handling on the client side would be way sim

[2018-04-18 11:25] skyshader commented on #8
Umm. That was my initial thought but since social logins really ease the process for users using our app, hence orientation is towards social login a bit more.

[2018-04-18 11:35] anurag-majumdar commented on #8
I feel its a good idea to implement the local login first. Although OAuth based logins are really popular with Fb and Google logins. I have used all these techniques before in some of my side projects and as sevensins  mentioned, the sdk for fb and google is also coming into the picture for loading of the app initally at client side.
I have implemented this feature from ground up and will share th

[2018-04-18 11:41] skyshader commented on #8
Guys! Let's limit our conversation on this thread. It gets overwhelming for people to go though the comments here. Let's start with basic JWT auth for now and let's use passport for that so it would be easier to add other strategies in future. Also, let's use localstorage to store the token.

As this is just a backend task for now, we would need to test it via postman only.

[2018-04-18 11:48] anurag-majumdar commented on #8
Good call skyshader, I would like to note one thing by saying that it will be way easier to use just only bcrypt and jwt for normal sign in than passport. For jwt we can use passport-jwt library but for password comparing and setting in db we can directly use bcrypt for that.
Code for it will be really simple. I have implemented the same before too.

[2018-04-18 11:51] anurag-majumdar commented on #8
If you guys want to use social logins with google and facebook we need to get the api key and client secret. Which will be handled by the moderator or co-moderators for setup so that we can use the same.

[2018-04-18 12:32] twishasaraiya commented on #8
I think the contributors should generate their own keys for development purpose and we can have a common key for production purpose. Since many people may be new to this I want someone to take up the task of documenting the whole process of setup so that it would be easy for a newbie too or may provide a link to some article that explains it well.

[2018-04-18 12:55] twishasaraiya opened #11 "Type of Quiz Quotes"
Okay, so while giving the topic for collaborative projects I thought of book quotes since I read novels. But we could have it another way also.

I would like to everyone's opinion on what type of quotes should be there in the quiz or whether there should be any type (just random quotes)???

[2018-04-18 12:59] ashwani99 commented on #11
I think there should be any type of quotes. Or rather why not let the user select based on his interests?

[2018-04-18 13:10] twishasaraiya commented on #11
@ashwani99 We will not be having categories for now since the main idea was to dive deep into PWA. Due to time constraints, we will keep it simple for now.

We are developing our own API for storing questions and options.

[2018-04-18 13:40] VarunDevPro commented on #6
Ok @twishasaraiya  has addressed all the issues, so we can close this now

[2018-04-18 13:40] #6 closed

[2018-04-18 14:05] naveens239 commented on #7
Is the name for this app fixed? Guess the Quote?

[2018-04-18 14:15] twishasaraiya commented on #7
Yes mostly.

[2018-04-18 16:02] naveens239 commented on #11
@twishasaraiya If its to gather quotes - general, books, miscellaneous - I can setup a document and input data with options. Let me know if I can take it up. I can gather 2 other folks to help me out here.
How many questions are we planning in one go?

[2018-04-18 16:35] twishasaraiya opened #12 "Landing Page Design"
Design an eye-catching landing page for the project.
### Requirements
* Bright colorful scheme
* Background Animations

I have gone through *GreenSock Examples* and here are some I really liked
* http://www.caribana-festival.ch/en/
* https://www.duroc.ma/en/
* https://interview.ueno.co/

These can be taken as reference for developing the landing page design.Please feel free to share your design he

[2018-04-18 16:50] Rohanhacker commented on #8
can I work on this ?

[2018-04-19 01:59] highskillzz commented on #8
Just a question, why would a game need authentication?

[2018-04-19 04:14] twishasaraiya commented on #11
@naveens239 You can definitely take it up. But first we need to decide if it's going to be general quiz or not???  Also let me know who else is working with you on this??

In one go we can have 10 questions for the user.The database could have ,for now, 20-40 questions to start working with PWA. We can then simultaneously keep on adding more.

[2018-04-19 04:54] danivijay commented on #8
@sounak07 is currently working on it.

[2018-04-19 04:54] #8 closed

[2018-04-19 04:55] Rohanhacker commented on #8
@danivijay Please assign this issue to him if he is working on it

[2018-04-19 04:56] prophet1996 opened #14 "Need a development & production branch"

[2018-04-19 05:08] danivijay commented on #8
I'm afraid that is not possible @Rohanhacker, assignee list is limited for now.

[2018-04-19 05:25] twishasaraiya commented on #11
@naveens239, Yeah correct!! Let's keep it open to all kinds of quotes that are fun and interesting. Maybe we could have some quotes where we can have some nice cartoon animations would be nice.Dont you think so??
Other important issues for now are choosing audio files and start working on GreenSock.

[2018-04-19 05:30] naveens239 commented on #11
If its all cartoon animations - Awesome, but let's poll over that. Meanwhile about using pictures and especially audio files, let's make sure we collect only what is available for free and nothing that requires licensing.

[2018-04-19 05:36] Rohanhacker commented on #14
why is that ? You can develop on your fork and send pr's , We just need a master and a release branch

[2018-04-19 05:43] twishasaraiya commented on #11
#### Animations
We could definitely have a poll and decide because then we need to start sketching and designing the characters.
#### Audio
I think we could open up a separate issue to discuss what audio would be suitable for a particular situation. I have shared the *Task List* on the slack channel which explains what kind of audio files we are looking for. I am currently searching for some small

[2018-04-19 06:26] Rohanhacker commented on #14
Our app is too simple for having a canary and development branch. I don't see how having a staging branch will prevent your use case.

[2018-04-19 06:28] Rohanhacker commented on #8
@danivijay one person will be working on a particular issue at a time right ?? You just have to assign one person ??

[2018-04-19 06:28] skyshader commented on #14
Yep, we will definitely not use the `master` branch as the main production branch. Our plan is to use a `release` branch for production purposes, so that contributors don't have to switch to development branch and keep track of the branch while submitting pull requests. I hope this clears the doubt? Do share your point of view though.

[2018-04-19 06:35] skyshader opened #15 "Let's add eslint for the server code"
I see pull requests with multiple coding style violations in server side code base. My thoughts is to add eslint and configure it as per any recommended standard out there. Let's discuss the possibilities.

[2018-04-19 07:00] prophet1996 commented on #14
@Rohanhacker as i explained the new feature X may break things on different env, that the contributor would not necessarily catch.Dev branch may break while the master(STABLE) would still work without that feature.

[2018-04-19 07:03] retrocausal commented on #14
Mods! where are we hosting the app? how will people access the landing page?
Would it be gh-pages?

If yes, what branch does gh-pages use for deployment?

Is it master alone? or can you use another branch?

[2018-04-19 07:05] twishasaraiya commented on #14
Our plan is to develop a prototype with minimal functionalities and full PWA. Focusing now on production, since we are just starting, seems too early. Lets first focus on making a basic working app. Please do feel free to share your opinions here.

[2018-04-19 07:05] skyshader commented on #14
`gh-pages` typically resides in `gh-pages` branch itself. Though we are still discussing how to proceed with the deployment. If you gave any suggestion, feel free to start a new thread and we can discuss this there :)

[2018-04-19 07:06] retrocausal commented on #14
@skyshader  If I may, I thing github changed that feature long back. Only master is the branch github uses to deploy the app as of 2017. correct me if Iam mistaken.

Hence, the need for a prototype branch, so that master always is functional

[2018-04-19 07:15] Rohanhacker commented on #14
We have a backend so we can not deploy on gh-pages. We can use something like heroku for backend and gh-pages for frontend

[2018-04-19 07:27] smriti548 opened #16 "Readme description"
I guess the readme file just contains very less introduction to the app. There should be some more description about the app for what it is being made or what it will do along with a user guide as well.

[2018-04-19 07:28] skarthikeyan96 commented on #11
@naveens239, I can help you with gathering quotes

[2018-04-19 07:32] twishasaraiya commented on #12
@smriti548 please free to share your idea here. Have you created any wireframes ??

[2018-04-19 07:35] smriti548 commented on #12
I don't have any wireframes... I just have the imagination of the idea and that is:
What if as the page opens different quotes(any general quotes) just come to the page from every side and form a particular pattern or the logo of the quote app... we can make the logo accordingly.

[2018-04-19 07:36] twishasaraiya commented on #16
@smriti548 I think I have mentioned that it is being made for *Google Udacity Challenge Scholarship*. Also what exactly do you mean by user guide??? I am a little confused here. Could you please elaborate more.

[2018-04-19 07:40] twishasaraiya commented on #12
I may be wrong but if I have imagined correctly it would look good with small words rather than sentences(quotes here). Please correct me if I am wrong.
 I rather prefer some shapes (like circles) or color changes. Have you gone through the reference UI design I have shared?? What do you think about them??

[2018-04-19 07:50] smriti548 commented on #16
A user guide here means for the end users how they will use the app with a description of every feature. Actually, I have made some projects before with openmrs so I observed it there that every project must contain a user guide... No issues we could do that once we have completed the project 👍

[2018-04-19 07:50] retrocausal commented on #14
I Just have one last point to make. Handling Contributions and handling branches (one dev and one deployment ideally not a branch more , not a branch less)  would be headache free and time efficient
If we could decide on how the app is presented to the world.
And identifying which branch is which, depends on how we host the app.
And that is an initial pre contribution consideration which If the mo

[2018-04-19 08:04] ashwani99 commented on #15
Agree with @anantoghosh but I don't think GitHub supports pre-commit hooks. A better solution might be to use CI for checking the linting. It will do the testing for us before PR is merged

[2018-04-19 08:28] skyshader commented on #15
@anantoghosh would you submit the PR with eslint + prettier config in the root repo. Also, do configure `husky` for setting up pre-commit hook.

See the package.json file of this repository: https://github.com/UdacityMobileWebScholarship/just-notes

@anantoghosh pre-commit hooks are local hooks and are not related to github in any way.

[2018-04-19 08:37] parmeet1402 commented on #12
My idea for the landing page is to have a random bright colour (From _flatui's colour palette_)  background. A random quote would be present under the play game/ start game button. The quote would have a **_typing effect_**. When a user would click on start game button the quote's text  would change into asterisks(*) and the game would start.
So this is my idea for the landing page and I have crea

[2018-04-19 08:55] anantoghosh commented on #15
@skyshader I'll submit a PR

[2018-04-19 09:53] skyshader commented on #15
@anantoghosh awesome. Keep us posted. :+1:

[2018-04-19 11:44] anantoghosh commented on #15
Here's the thing, husky requires the `.git` folder in the same place as `package.json`.
https://github.com/typicode/husky/blob/dev/docs.md#sub-directory-package

I'll have to add husky on the root `package.json` and then we can configure for both client and server.
Is this fine? @skyshader

[2018-04-19 11:46] skyshader commented on #15
Yep. You're on the right track :+1:

[2018-04-19 11:51] twishasaraiya commented on #16
@smriti548 I think we can close the issue here. We can open it once we have added some features to the project.

[2018-04-19 12:01] twishasaraiya commented on #12
@parmeet1402 I think it would be better if we move the discussion to slack channel so that everybody can give in their feedback. Please add your idea there and start a thread by addressing @Twisha. I would like to discuss the background of the page there.

[2018-04-19 12:03] skyshader commented on #14
@retrocausal I totally understand your point. And, that's the reason we are thinking of creating a `release` branch which will be stable always and will be used for deployment purposes.

Though I'd like to hear what other mod's thoughts are on this. @twishasaraiya what's your take on:
1. `master` and `release`
2. `dev` and `master`

IMO, keeping `master` as production makes more sense but consider

[2018-04-19 12:15] retrocausal commented on #14
So, Per me, the names you have mentioned are not an issue. we can name the branches however we wish to.

What I wondered was,

Suppose we have two branches

branch 1 and master

If we use *gh-pages* , when we deploy, github would automatically choose the master as the deployable branch.
I am guessing
https://Udacitymobilewebscholarship.github.io/guess-quote/
would then be the landing page.

In the

[2018-04-19 12:26] 94151 commented on #7
I would like to work on this.

[2018-04-19 12:27] twishasaraiya commented on #14
@skyshader I think we should go with `dev` and `mater` branch. We should keep `master` as the production-ready branch and we could do our feature development on `dev` branch. Also, it would make it easier to deploy on GitHub Pages.

[2018-04-19 12:28] twishasaraiya commented on #7
@94151 Please go ahead. DM me the logo when you are done.

[2018-04-19 12:28] #16 closed

[2018-04-19 12:31] naveens239 commented on #11
@skarthikeyan96 Great. Let me first put up a poll to decide this front !

[2018-04-19 12:33] skyshader commented on #14
@retrocausal The name is not the concern for me as well.. However the default branch is.

Btw it makes sense to keep `master` stable and a `dev` branch for contributions. Let's finalize this. Later, we can branch out from `master` into `release` if required.

@twishasaraiya we also need to update the Contribution docs accordingly.

[2018-04-19 12:39] twishasaraiya commented on #14
Okay @skyshader, I will update the contribution docs. Are we keeping the name of the development branch as `dev` or something else?

[2018-04-19 12:47] skyshader commented on #14
@twishasaraiya what do you suggest? You can create `dev` or `development` branch and update that in docs. Let me know if you want me to create the branch and also your preferred name.

[2018-04-20 06:01] #15 closed

[2018-04-20 06:02] #14 closed

[2018-04-20 09:29] twishasaraiya commented on #11
@parmeet1402 we will be using GreenSock for animations. If you are familiar with it great. If not you can start going through some tutorials.

[2018-04-21 07:25] gpalsingh commented on #8
Is this issue solved? I don't see the pull request that fixes it.

[2018-04-21 08:43] gpalsingh commented on #11
Let's remember that the focus should be implementing a working service worker before the deadline (14th May) so that we can demonstrate that we learned well from the course. It makes sense to keep the other features simple.

So I suggest we use simple text quotes for now without worrying about what they belong to. All the advanced and/or extra features can be added after the first phase ends.

[2018-04-21 08:57] gpalsingh commented on #14
I'm really confused with the situation now. We are supposed to be adding new features in `develop` right? But right now I see the pull requests that are opened are for the master branch...

[2018-04-21 10:40] twishasaraiya commented on #11
Since most of the people have voted for general questions I am closing this issue here.Thank you, everyone, for your participation.

[2018-04-21 10:40] #11 closed

[2018-04-21 11:02] twishasaraiya commented on #7
@94151 How's your work on logo design going on?? If you have any queries please feel free to reach out to me.

[2018-04-21 15:18] charlie1404 opened #30 "Dotenv module to load sensitive info (Feature Requirement)"
### Description
Need a .env file from which one could load sensitive data like DB credentials of encryption keys etc. also NODE_ENVIRONMENT env variable should set to production when deploying, and this file needs to be added to .gitignore.

[2018-04-21 16:16] anurag-majumdar opened #31 "Social Sign in using Facebook, Google or any other clients."
Hi guys, I came up with a flow regarding the Social login process using Fb, Google or any other such accounts.

Here is the flow diagram:
![social login flow](https://user-images.githubusercontent.com/13219942/39086217-0f0f45de-45ac-11e8-8fd0-569ecabb5d0d.png)

The official fb and gapi for client sdk.

To make use of the following diagram flow, we need to use the following packages in our Node ser

[2018-04-21 20:34] parmeet1402 commented on #31
@twishasaraiya @anurag-majumdar

So i got links to JavaScript code that we could use to have Google and Facebook integration in our web app. If the mods and co-mods I could try to implement in our app.

[Google Sign in integration](https://developers.google.com/identity/sign-in/web/)
[Facebook Sign in integration](https://developers.facebook.com/docs/facebook-login/web)

[2018-04-21 21:09] anurag-majumdar commented on #31
@parmeet1402 This is exactly what I was talking about. In one of my github projects I have used both the SDKs which you gave in the links. I can help setup the API key and secrets as I have experience with them as well as how the app should interact with the sign in strategies.

[2018-04-21 21:13] parmeet1402 commented on #31
@anurag-majumdar Oh Okay gotcha man! I haven't implemented it before. It would be really great if you would let me do it with you, I would be able to learn, how to do it in reality.

[2018-04-21 21:27] anurag-majumdar commented on #31
@parmeet1402 Sure! Since this is a collaborative project, I think the mods and co-mods will break this functionality into chunks and all of us interested can work on this. This authentication will require code changes in both front and back end.

[2018-04-21 21:28] parmeet1402 commented on #31
@anurag-majumdar Yup we would be required to make some changes.

[2018-04-21 21:33] anurag-majumdar commented on #31
@parmeet1402 Exactly! We can help each other in code and give guidance as to how to approach a specific part of the process, once each part of the process gets assigned.

[2018-04-22 04:55] twishasaraiya commented on #31
Thank you guys for bringing up this issue. Okay since the user can play without logging in, we will be providing **only one** social login for now(it can be anything facebook,google etc). Besides that I would like to say that since I haven't implemented REST API before so we will wait for others moderators.
@skyshader , @danivijay what do you think??

[2018-04-22 14:26] danivijay commented on #8
1. https://github.com/UdacityMobileWebScholarship/guess-quote/pull/13 - merged
2. https://github.com/UdacityMobileWebScholarship/guess-quote/pull/25 - under progress
@gpalsingh

[2018-04-22 18:10] anurag-majumdar commented on #31
@twishasaraiya you are right about the social login part. We can keep only one for this app. I have implemented these features before in 1 day's time when there was a lot of pressure in my projects and am quite comfortable with this area. Lets discuss more with other co-mods regarding this.

I also believe that we should break up the tasks so that most of the people get a chance to contribute. Aft

[2018-04-22 18:59] skyshader commented on #31
Hey guys, so we discussed this before on issue #8

And for first cut we decided to go with a basic username, password authentication. For the reasons check issue #8

However, after the first cut, surely we are focusing on Login with Google and we can close this discussion till then? Let me know your thoughts.

[2018-04-22 19:00] skyshader commented on #30
Yes @charlie1404 that's planned and you will have it soon. Will keep everyone posted on this thread. Thanks for bringing this up.

[2018-04-22 20:45] Sahil-Dhawan commented on #31
using google auth api is easy and yes @anurag-majumdar  access token + refresh token .You might want to edit that for people unaware of the accesstoken expiry and refresh procedure i.e new to auth2.0

[2018-04-23 11:14] VarunDevPro commented on #30
We're reviewing the pull request #34 for now

[2018-04-23 11:15] #30 closed

[2018-04-23 11:35] deveshjadon98 opened #35 "Auth features(Signup/Login) implementation at Frontend"
Hi Guys, I went through the issues and observed that JWT based auth implementation is already done at the backend, I would like to integrate it with Frontend app.

It will include four features
**1. User Login**
**2. User Signup**
**3. Forgot Password**
**4. Guarding private routes using JWT token**

[2018-04-23 11:39] skyshader commented on #35
Awesome, @deveshjadon98 ! Do let us know if you need something from our side. Looking for a PR for the same.

[2018-04-23 11:41] deveshjadon98 commented on #35
Sure @skyshader I might need your little help to understand any standard that you are following.

[2018-04-23 11:44] skyshader commented on #35
Sure. So, we have already configured `eslint` and `prettier`. You should have `eslint` installed and enabled on your IDE. For any further info: Check our ReadMe and Contributing doc here in the repo. For additional query: Ask us in the slack channel. :)

[2018-04-23 11:48] deveshjadon98 commented on #35
Thanks a lot @skyshader . I will start with the setup. I will need your help in a day or two to understand the backend APIs that you have written. Will ping in slack channel. 🖖

[2018-04-23 13:13] twishasaraiya commented on #35
Great @deveshjadon98. Looking forward to the PR.

[2018-04-23 14:16] twishasaraiya opened #36 "API Creation"
I can think of the following
- GET Quote and OPTIONS
-  UPDATE Score

Please let us know your suggestions here.

[2018-04-23 14:32] danivijay commented on #36
What about fetching quote and options together? Like GET Question?? @twishasaraiya

[2018-04-23 14:59] anurag-majumdar commented on #36
Truth is, our MongoDB schema will be somewhat like:
questions: [
{
   question: "...",
   options: ["....", ""..."],
   answer: ["..."]
},
// Continues
]

So during fetching of each of the questions, there will be requirement of just one GET request as @danivijay mentioned. Regarding the customizing of options as @twishasaraiya once told me, if there are 6 options we can use a random option genera

[2018-04-23 15:09] ashwani99 commented on #36
I agree with @anurag-majumdar I will suggest a minor change to the schema
[code]
To keep things simple, we can process the GET `/question` as:
- Randomly choose a question, store its identifier so that it's not repeated again in a single game
- We will get 1 right answer, rest 3 can be chosen at random from the `options` list
- package all of them in a JSON and send it as response

[2018-04-23 15:28] skyshader commented on #36
@anurag-majumdar Sure, take it on. Thanks again for contributing. :)

[2018-04-23 15:30] ashwani99 commented on #36
@skyshader I want to work on the API using ExpressJS. May I take that? I will work with @anurag-majumdar

[2018-04-23 15:36] anurag-majumdar commented on #36
@ashwani99 Sounds great. You will be making changes to the route request and adding controllers I guess?

[2018-04-23 15:38] ashwani99 commented on #36
@anurag-majumdar Yes

[2018-04-23 15:42] skyshader commented on #36
@ashwani99 do submit your own PRs. Note that working on something with dependencies needs a lot of collaboration and merges :)

So what I understand is:
@anurag-majumdar is taking up the schema creation for Quotes model.
@ashwani99 is taking up API creation for getting the quotes (This is tricky, lets discuss this further)

Some of the concerns while creating the API is:
1. One question per reques

[2018-04-23 15:45] skyshader commented on #36
@sounak07 You can take UserAnswers which would contain user, the question they answered and if they were right or wrong with a score. Let's discuss this in a separate issue thread. Right now we are talking about schema creation. We will move to API next.

[2018-04-23 15:46] SevenSinS02 commented on #36
Yeah, I'd like to take something up as well... been away for a couple of days.

[2018-04-23 15:48] skyshader commented on #36
@SevenSinS02 and others, please ask the questions not related to issues on slack channel. Let's keep the issues with relevant discussions.

[2018-04-23 15:49] ashwani99 commented on #36
@skyshader Nice points. So my suggestions will go like this:
1. Not necessarily. We can send a query param which will send us that many questions. Or rather make it a constant if the number of questions are same for every game.
2. I didn't understand this concern. Can you please elaborate?
3. Options can get repeated. I see no issue with this. If you're concerned about same option coming again and

[2018-04-23 15:58] skyshader commented on #36
@ashwani99
1. Number of questions are fixed to one. We will be having one question per screen.
2. These questions will not come in same order if I play again.
3. I meant if I attempted a certain question I don't want it to repeat for a significant amount of questions. Because if questions are random, it can appear just next or after one question.

[2018-04-23 16:16] ashwani99 commented on #36
@skyshader
1. So I think we're good with this. One question per request.
2. As picking question will be done randomly, it's unlikely that this scenario will happen. We can add more questions to negate this scenario.
3. Okay so what we can do is generate a set of identifiers for the questions like `id`. We will have `/questions?limit=<number-of-questions` which will return a list of ids of question

[2018-04-23 16:34] anurag-majumdar commented on #36
I am adding the schema in a new file in develop branch. Will send a PR soon.

[2018-04-23 17:12] twishasaraiya commented on #36
@skyshader and @ashwani99 This is how I have thought about it. Suppose each question is of 100 points, I would like to continue the game till the user reaches 1000 points(If the user gets first 10 question right he wins) else the game continues till he reaches 1000 points. The user can leave the game at any point if he wishes too.
Let me know what you guys think.

[2018-04-23 17:50] twishasaraiya commented on #36
@ashwani99 I think we should allow the user to select his target in the number of points(like a goal) he wishes to achieve instead of number of questions.

[2018-04-23 17:56] anurag-majumdar commented on #36
@danivijay @twishasaraiya @skyshader Added a pull request for the question model file.

[2018-04-23 17:57] ashwani99 commented on #36
@anurag-majumdar I would suggest please move the discussion regarding the DB model to another issue

[2018-04-23 19:24] anurag-majumdar opened #42 "DB Model schema for questions"
I have set the schema as:

questions: [
        {
            question: { type: String },
            answer: { type: String }
        }
    ],
    options: [
        { type: String }
]

I took @ashwani99's schema as a reference to the following post:
https://github.com/UdacityMobileWebScholarship/guess-quote/issues/36

questions: [
    {
        question: "...",
        answer: "..."
    },
    .

[2018-04-23 20:03] anurag-majumdar commented on #42
@danivijay @twishasaraiya @skyshader
Hi guys, an update regarding the schema, I have updated the questions model to the following schema:

questions: [
{
question: "...",
options: ["....", "..."],
answer: ["..."]
},
// Continues
]

This is how it looks inside MongoDB:

![image](https://user-images.githubusercontent.com/13219942/39150278-69ff4ad4-475f-11e8-9b60-df6a5d0812a7.png)

[2018-04-24 02:36] twishasaraiya commented on #12
That's cool @Sahil-Dhawan. Would look great but how do you plan on implementing it??? Since we are using GreenSock, this is could be done using that.
I am a beginner in Greenock and this is what I have created so far https://codepen.io/Twisha/full/rvOgGV/.
Please Let me know what you think. Actually, there is a lot of scope for improvement but this is something very basic I created.

[2018-04-24 02:38] twishasaraiya commented on #7
@Sahil-Dhawan Please feel free to DM me anytime. If you want, we could also open up a thread on the channel so that everybody can give in their suggestions.

[2018-04-24 07:17] deveshjadon98 commented on #35
@highskillzz Let me setup the guards and the structure for auth on UI, then you can pick any of signup or login.

[2018-04-24 12:51] danivijay commented on #42
I think this will do. What do you think @twishasaraiya ?

[2018-04-24 17:16] prophet1996 commented on #42
Shouldn't the answer be a number type so that we don't need to do  "option"===" answer" every time
just check the value of answer wrt the number?

[2018-04-24 17:29] prophet1996 commented on #42
ok that makes sense the  :)

[2018-04-24 17:41] skyshader commented on #42
IMO again I believe that option should be referenced in the answer instead of having the complete option string as it's value. @twishasaraiya and @danivijay what are your thoughts?

[2018-04-25 00:14] twishasaraiya commented on #42
I think since we are keeping our app simple for now we could go ahead with this. If anything better comes up then we could discuss it again.

[2018-04-25 01:03] naveens239 commented on #42
I too agree with what others have pointed out about having the value instead of string stored as answer value. But keeping that aside - how are we feeding in the questions to the DB? Are we reading and converting and then storing via some script? Or are we manually feeding?

[2018-04-25 06:39] skyshader commented on #42
I have another input we can think about here:

[code]

With this approach we avoid matching options with answer and can directly send this object to frontend. For frontend, each option now knows if they are correct or not and we do not need to send states here and there and then match if option's value is similar to question's answer's value. Plus this can be extremely helpful for questions with m

[2018-04-25 07:31] ayushdev commented on #31
I can implement the Google Login through Firebase SDK.

[2018-04-25 08:40] deveshjadon98 commented on #42
I find @skyshader 's approach more scalable, Having a separate key for answer doesn't make sense. This way we'll send a question to UI along with it's options and show the correct options when users have submitted their responses.

[2018-04-25 08:43] deveshjadon98 commented on #42
@twishasaraiya we can't keep such things for future iterations, A scalable schema should be defined during first iteration only. It will only make our job easier.

[2018-04-25 09:14] twishasaraiya commented on #42
@deveshjadon98 Well if you talking about scalability then I agree that current  model is not so good. Since I have only worked on small personal projects where it was just to learn new stuff. Anyways,then I guess @skyshader model looks better option.

[2018-04-25 09:15] skyshader commented on #42
@deveshjadon98 would you like to submit a PR then, if everyone is on the same page? :)

[2018-04-25 09:51] deveshjadon98 commented on #42
@skyshader Sure, let me implement these changes.

[2018-04-25 16:40] anurag-majumdar commented on #42
@skyshader @deveshjadon98 Great thought on the model. Really needed a refinement on the older one. After all, a schema design does need to go through some thought despite the scalability of the application. Database really makes it easy for us. Good going guys! 👍

[2018-04-25 17:57] Sahil-Dhawan commented on #7
@twishasaraiya sorry for the late reply got caught up in internals I'll DM you with some logo suggestions by Friday as and when my internal practicals are done 😊

[2018-04-25 18:01] Sahil-Dhawan commented on #12
@twishasaraiya its nice had a look , I'll find some implementations and exemplar approach for the same till Saturday , I'll keep you posted regarding that , I'm sure this can be made pretty interactive and enticing.. My apologies for the late response

[2018-04-26 04:32] twishasaraiya opened #56 "Components and Containers"
Static data will be passed in for now and redux configuration will be done later.

**Basic Flow**
1. Landing Page from where the user gets 2 options: _Start Playing_ or _Login_
2. Depending on the user choice he goes to step 3 or 4
3. Login/Signup then move to step 4
4. Quote and Options then depending on answer respective component gets added to the page
5. If user logouts of game, all data will

[2018-04-26 05:17] naveens239 commented on #42
@twishasaraiya @skyshader @deveshjadon98 @danivijay  How are we feeding the data to the DB? I can make the necessary changes and convert to json format. Let me know.

[2018-04-26 05:17] twishasaraiya commented on #7
@Sahil-Dhawan Not a problem. Make sure you send me logo designs by Friday. 😃

[2018-04-26 05:50] skyshader commented on #42
Yes @naveens239 , json equivalent to the schema would be amazing. We can create a seeder that will insert the data into mongodb via our models.

[2018-04-26 09:59] LoneWolf36 commented on #31
@ayushdev
Google Login using FIrebase SDK in React?
Count me in! I was working on it recently!
I could help out with it and gain some experience from you on how to make it work.
How do we collaborate?

[2018-04-26 10:01] LoneWolf36 commented on #35
@deveshjadon98
I'd like to play a part with the Auth too with you : ).

[2018-04-26 11:34] naveens239 commented on #31
I too have used google auth api and integration with this is easier. So I vote for google too.

[2018-04-26 19:43] PN1019 commented on #56
what about progress component?? I think it is required to display progression like

 ??
For this,
it should take two properties

- `currentQuestionIndex`

- ` numberOfQuestions`

[2018-04-27 03:48] twishasaraiya commented on #56
@PN1019 Yes it could be done but in our current UI designs we have not added progress bar because the number questions (like you said 20) is still debatable and not decided.
Let me know your opinions.

[2018-04-27 05:46] prophet1996 opened #58 "Animation components that can take any React Component and apply animations to them."
I want to write a component that could be used throughout the project ,
for eg , we could give it args [hide, show, rotate ]
Pros-
Easy to debug
Consistent look and feel (everyone could give a different time when performing anim, this would prevent that)
Cons-
Every PR merge must be checked that it uses our animations
Thoughts @twishasaraiya ?

[2018-04-27 07:59] skyshader commented on #36
So since we have the basic schema ready, i think we should start looking into the API bit.

Please acknowledge who is taking up the task and let's get started with the development :)

[2018-04-27 08:53] anurag-majumdar commented on #36
I would like to contribute to one of the routes setup for API with schema. @skyshader

[2018-04-27 14:40] suhasbansude commented on #42
I have input for que model
{
	"queId" : "", // Unique Guid
	"queString" : "",
	"level" : "", //EASY,MEDIUM,HARD
	"type" : "", // Single Select ,Multiple Select
	"options" : [
		{
			"optionId" : 1,
			"optionString" : ""
			"sequence" : 1
		}
	],
	answer : [{
		"optionId" : 1,
		"optionString" : ""
	}],
	isActive : true
}

[2018-04-27 15:32] skyshader commented on #42
The level and type are not in the plan as of now. But our current model just needs those two fields `type` and `level` later when we need it :)

[2018-04-27 18:54] PN1019 commented on #56
@twishasaraiya it doesn't matter how many numbers of questions you are planning to move with it totally depends on your call well since you are specifying that UI designs don't have progress bar as of now  this can also be included in next version  if don't want to make any changes in UI now..but I think it will good to go with Progression even now since this will engage users in quiz...

Also, ho

[2018-04-28 06:14] twishasaraiya commented on #56
@PN1019 I think the progress bar can be included in the next version since now our focus to make it a PWA first.

Also, I agree with you that there should be a  `Next Button`. Yes, we will be having the next Button once the user has clicked an option. I have updated the component section have a look.

I am assuming you are talking about `CorrectAnswer` and `WrongAnswer`. What this means this that

[2018-04-28 06:24] twishasaraiya commented on #58
@prophet It is not yet decided which components will be animated in which way. We will be animating DOM elements by selecting experimenting and discuss what would look better. Since GreenSock is a very powerful API we can create some very interesting Animations.
Moreover having a separate componet would not be required since we can do the following
[code]
Please do let me if you have any doubts.

[2018-04-28 07:46] prophet1996 commented on #58
Yes thats my point
Imagine one dev make Component1 and other Component2
It'll be hard to force consistency in animations Component 1 may animate for 0.5 sec and Component2 may animate for 0.3 sec
That would produce a really bad and inconsistent ui experience.
So i was suggesting if we could make an animation wrapper ,which would animate a views for anyone who want to make ui component
That would s

[2018-04-28 07:54] twishasaraiya commented on #58
@prophet1996 I understand different developers will animate stuff differently. That's the reason we will be first developing the entire page including all components and then animation them. One single developer could take an entire page to animate the DOM elements after discussing with others. Once the basic quiz app is running (without animations)  we can discuss further on how to add animations

[2018-04-28 11:06] PN1019 commented on #56
@twishasaraiya  yes I am talking about **CorrectAnswer** and **WrongAnswer** only.
Okay, got it you want to handle both things separately go with text and image thing you mentioned above ...but this can be done via a function like `checkanswer` in the same component isn't it ?? Any other reason for creating two separate components?? IDK if i am not wrong both component will do same thing but with

[2018-04-28 12:01] naveens239 commented on #42
@skyshader With this approach
{
    question: '...',
    options: [
        {
            value: '...',
            isCorrect: true,
        },
        {
            value: '...',
            isCorrect: false,
        },
        {
            value: '...',
            isCorrect: false,
        }
    ]
}
I will convert the questions and answers to json format. Is that fine? Let me know

[2018-04-28 12:31] twishasaraiya commented on #56
Okay let's have one `component` called *AnswerComponent* which display correct response based on `checkAnswer` method.

[2018-04-28 12:41] skyshader commented on #42
[code]

[2018-04-28 12:43] naveens239 commented on #42
What the "type" and default?

[2018-04-29 12:11] drenther commented on #56
The design assets only seem to have mobile UI mockups. Any thoughts or opinions on how it should scale on bigger screen sizes?

[2018-04-29 13:30] twishasaraiya commented on #56
@drenther Thanks for asking since I guess many people would have the same doubt.I think @ayushdev and @VarunDevPro will be able to explain better since they have designed the mockups.

[2018-04-29 14:04] VinayV9 commented on #36
i liked to work on backend part is their any features left to do?? @twishasaraiya  @skyshader

[2018-04-29 14:46] ashwani99 commented on #36
@skyshader I wanted to take the API creation part https://github.com/UdacityMobileWebScholarship/guess-quote/issues/36#issuecomment-383617589
May I take this?

[2018-04-30 06:15] skyshader commented on #36
Yes, @ashwani99 @anurag-majumdar take it away. Do comment which API you guys will be working on down below. :)

[2018-04-30 07:01] ayushdev commented on #56
@drenther We can use custom media queries for small, mid, and large screen sizes. As the containers inside pages are very simple, I think they will be handled easily.

[2018-04-30 10:42] anurag-majumdar commented on #36
@skyshader @ashwani99 I think we need to setup a route for questions in server.
Can I work on setting up the routes for the question part? Then @ashwani99 can work on the API GET /questions part.

Or we can negotiate on the both.

[2018-04-30 10:55] PN1019 commented on #56
@twishasaraiya  I would like to work on this let me know what I can take up ?? Anyone already working on components??

[2018-04-30 13:08] drenther commented on #56
@ayushdev I did not mean the implementation details. Of course, we will use custom media queries. I meant how It should look on tablet and desktops should also be represented in designs for the sake of seamless implementation when different people implement different components. So that the design choices won't be made by everyone on their own but inferred from the design mockups.

To look at it m

[2018-04-30 14:11] danivijay commented on #31
@ayushdev @LoneWolf36 As we got our own back-end, I think we can implement the same without 3rd party, ie Firebase, if necessary.

As a first step, we are implementing basic auth with email and password. I think social logins can be added via passport, as @anurag-majumdar mentioned on the first post.

[2018-04-30 14:27] ayushdev commented on #31
@LoneWolf36 @danivijay As the app is not so complicated, we can implement that using our own backend. I am in favour of whatever tools get the work done in a short time.

[2018-05-01 03:39] twishasaraiya commented on #56
@PN1019 So I am assigning this issue to you. You can work on the main `QuoteAndOptions` Component and the buttons Component as well. Nobody has taken up anything yet but 2 people were interested. I told them to add a comment here first. So far they haven't.
We need to complete this by end of the week, so if you need any help please let me know.

[2018-05-01 05:53] suhasbansude commented on #56
I am interesting to work on QuoteAndOptions component.Can i start work on this.

[2018-05-01 07:55] twishasaraiya commented on #56
@suhasbansude Since I have asked @PN1019 about it. Let's wait for the reply. If  he is not working on QuoteandOption then you can definitely take it up.
You could also work on other components and make a PR. Let me know what you are taking up.

[2018-05-01 13:09] suhasbansude commented on #36
What about UPDATE Score??
I think we need new collection for Score Details.

[2018-05-02 09:39] PN1019 commented on #56
@suhasbansude if you wanna take QuoteAndOptions take that up...it just fine with.... @twishasaraiya.... thanks...I will work on by button components you mean NextButton ??? If that's the case I am good to go with....please let me know

[2018-05-02 09:46] twishasaraiya commented on #56
Okay so @suhasbansude you are taking up
`QuotenOptions` component and container.
@PN1019 you will be working on `nextButton` and `Answer` so that suhas can call these component when corresponding  event occurs.

If you have any doubts please free to ask them.

[2018-05-02 12:07] skarthikeyan96 commented on #56
@twishasaraiya  Can I work on the HowToPlay Instruction Component

[2018-05-02 12:39] twishasaraiya commented on #56
@skarthikikeyan96 Yes you can work on it.

[2018-05-02 12:57] PN1019 commented on #56
@twishasaraiya  you haven't specified any testing guidelines for react components??

[2018-05-03 18:35] Sahil-Dhawan commented on #35
how far are we on auth , i could help out with google auth and other auth based integrations . 😄

[2018-05-03 18:37] Sahil-Dhawan commented on #31
I agree with @ayushdev on this 😄

[2018-05-03 19:37] anurag-majumdar commented on #31
I would like to work on this part too. Let's divide it into chunks I guess.

[2018-05-05 10:57] twishasaraiya commented on #35
@deveshjadon98 How is the progress of the user login going on??? If you are facing any issues please let us know.  Looking forward to your PR soon.

[2018-05-05 11:02] twishasaraiya commented on #56
I am extremely sorry for late reply as I was busy with interviews.
  I just want to add here that we want the contributors to submit a working PR and a screenshot along with it. We currently don't have any plans of adding Travis since it is required to be setup by repository owner. So currently we will be checking your PR ourselves before merging.

I request you all to submit PR by **Sunday**   or

[2018-05-06 13:14] twishasaraiya commented on #56
Yes please @anantoghosh you can work on it.

[2018-05-06 17:50] AromaR commented on #56
Hi, will be working on the Score Component.

[2018-05-07 05:22] #7 closed, assigned to nobody

[2018-05-07 17:36] Rohanhacker commented on #56
I'll be working on timer and score component

[2018-05-07 17:51] twishasaraiya commented on #56
@Rohanhacker I m sorry but  others are already working on it.

[2018-05-07 17:52] Rohanhacker commented on #56
damm

[2018-05-07 17:52] Rohanhacker commented on #56
is anything available ?

[2018-05-07 17:53] twishasaraiya commented on #56
Nope as of now. You could work on homepage if you want with @ayushdev.

[2018-05-08 12:29] blenderskool commented on #12
So I have made a design for Desktop and Mobile. **Since I don't know UI animation, I have kept the designs static, but they can be easily animated later**. I haven't seen the finalized logo or the color scheme, hence the design is completely on my own ideas. Do share your thoughts with me :slightly_smiling_face:

Keeping the whole idea of a game, I have decided to not clutter the landing page, and

[2018-05-08 17:28] ayushdev commented on #12
@blenderskool The design looks good. You can start the coding. We can tweak it as we go long.

[2018-05-08 19:38] blenderskool commented on #12
@ayushdev Thanks, I am still not sure where and how will we include the logo of the project in my design, hence would wait for some more suggestions :slightly_smiling_face:

[2018-05-10 05:41] twishasaraiya commented on #12
@blenderskool The design looks amazing. 👍  We have finalized the logo, you can have a look at it on the **slack channel (#cp_quote_app)**. Also since our color scheme uses shades of purple/violet I think we could change the green color here.

Yes your idea of allowing the users to play the game directly is correct, that's what we will be doing. Also instead of **Top Players** we could add **Login*

[2018-05-10 15:33] twishasaraiya commented on #12
@blenderskool I would say whichever looks better go with that one.

[2018-05-11 08:02] #42 closed

[2018-05-11 15:14] skyshader commented on #36
The API for getting random set of questions is done and we are planning to keep the scoring offline for now. Hence closing this.

[2018-05-11 15:14] #36 closed

[2018-05-11 15:53] Sahil-Dhawan commented on #12
@twishasaraiya  https://iohk.io/ have a look at this website and move around your mouse a bit this was what I was talking about but couldn't understand how to exactly implement it

[2018-05-11 15:54] Sahil-Dhawan commented on #12
The background here is dynamic as I was saying

[2018-05-11 16:30] Sahil-Dhawan commented on #12
yes lets implement something like this for later :smile: @twishasaraiya

[2018-05-11 16:33] twishasaraiya commented on #12
Yes definetely.

[2018-05-23 09:05] twishasaraiya commented on #12
Completed #81 . Hence closing this issue.  Can be opened again for further enhancements if required in future.

[2018-05-23 09:05] #12 closed

[2018-05-25 07:27] twishasaraiya opened #83 "Integrate Quiz Page Components"
Currently, Quiz Page shows only quote and options. Following changes are required

- [ ] Add Other components `Timer` and `Score` to the page
- [ ] Make the page responsive

[2018-05-25 07:32] twishasaraiya opened #84 "NavBar Component"
Navigation Bar needs to be added to allows users to go to different pages.
Currently, we have 3 pages `home`, `Quiz` and `HowToPlay`.

The navbar for desktop needs to be finalized first. So please do add your opinions here about it.

[2018-05-25 09:24] ghost commented on #84
how's about leaderboard / top scorer  page

[2018-05-25 19:46] skarthikeyan96 commented on #84
Link to their profile page inorder to keep track of their scores

[2018-05-27 04:30] twishasaraiya commented on #84
@anupamseervi99 We are going have to have that page but for the second version of the app. For the first version we want to keep it simple.